doctype html
html(ng-app)
	header
		link(rel="stylesheet", href="../chat.css", type='text/css' )
		script(src="../angular.min.js")
	body		
		.Container
			#AttendeesWindow
			#ChatWindow
			.V_Spacer
			#ChatEntry
			#SubmitButton
				input#submit(type="button")

